In [14]:
import pandas as pd

# Example dataset
data = {
    'Name': ['John', 'Alice', 'Bob', 'Diana'],
    'Age': [28, 24, 35, 30],
    'Score': [85, 92, 78, 88]
}
df = pd.DataFrame(data)

# Sort by 'Age'
sorted_df = df.sort_values(by=['Age', 'Score'], ascending=[False, True] )


sorted_df

    Name  Age  Score
2    Bob   35     78
3  Diana   30     88
0   John   28     85
1  Alice   24     92